/*------------------------------------------------------------------------------
---------------------------------Colors-----------------------------------------
Marine #026AA7, Button #3588B9; Button Hover #177bb5; Typo #FFFFFF, Hover #e4f0f6
Cyan background #1D8DC2

-------------------------------------------------------------------------------*/
/*---------------------------------Body----------------------------------------*/
/*-----------------------------------------------------------------------------*/

body {
  background-color: #0079BF;
  color:white;
  font-family: helvetica;
  margin:0;
}
/*-----------------------------------------------------------------------------*/
/*-------------------------------Navegador-------------------------------------*/
/*-----------------------------------------------------------------------------*/
nav {
  background-color: #026AA7;
  display: block;
  font-size: 1em;
  overflow: auto;
  padding: 0.4%;
}
    /*--Menu Tableros----------------------------------------------------------*/
    .nav-button {
      background-color: #3588B9;
      border-radius: 3px;
      color: ##FFFFFF;
      display: inline-block;
      padding: 0.4% 0.5%;
    }

    i{
      font-size: 1em;
    }

    .nav-button:hover {
      background-color: #177bb5;
    }

    #menu-tableros {
      text-decoration: none;
    }

    /*--Search-----------------------------------------------------------------*/
    #input-search {
      border: 0px;
      border-radius: 4px;
      position: relative;
      left:5px;
    }

    #input-search:hover {
      background-color: #177bb5;
    }

    #search-glass {
      display: inline-block;
      left:-25px; /*--¿Como hacerlo sin usar negativos?------------------------*/
      position: relative;
      top:3px;
    }

    /*--Logo Trello------------------------------------------------------------*/
    #main-logo {
      color: #5bb0d8;
      font-family: 'Yellowtail', cursive;
      font-size: 25px;
      position: relative;
      left: 30%;
      text-decoration: none;
    }

    #main-logo:hover{
      color:#d2f2f7;
    }

    /*--Right menu-------------------------------------------------------------*/
    #right-menu {
      position: relative;
      top:10%;
      left: 65%;
    }

    /*--User profile-----------------------------------------------------------*/
    #user {
      background-color: #026AA7;
      color: #F8F9F9;
      font-size: 1.8em;
      position: relative;
      left: 65%;
    }
/*-----------------------------------------------------------------------------*/
/*---------------------------------Index---------------------------------------*/
/*-----------------------------------------------------------------------------*/
#index-options {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding: 1%;
  padding-top: 0;
}
    /*--Index menu-------------------------------------------------------------*/
    .index {
      display: inline-block;
      padding: 0.4%;
    }

    .index-right {
      display: inline-block;
      padding: 0.4%;
    }

     .index:hover {
      background-color: #026AA7;
    }
/*-----------------------------------------------------------------------------*/
/*------------------------------New Board--------------------------------------*/
/*--New Board------------------------------------------------------------------*/
#new-task {
  background-color:#026AA7;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  left: 1%;
  padding: 0.25% 1%;
  position: relative;
  width: 20%;
}

     /*--Button----------------------------------------------------------------*/
     .button {
       background-color: #4CAF50;
       border: none;
       border-radius: 4px;
       color: white;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
     }
