
body {
  background: linear-gradient(to bottom,#0079bf 0%, #99ffcc 115%);
  color:white;
  font-family: helvetica;
  margin:0;
  height: 100%;
}

#navigator {
  background-color: #026AA7;
  color: white;
  font-size: 20px;
  padding:0.3em;
}

.nav-button {
  background-color: #3588B9;
  border:none;
  border-radius: 4px;
  color:white;
  cursor:pointer;
  font-family: helvetica;
  padding: 8px 10px;
  position: relative;
}

.nav-button:hover {
  background-color: #50a8d8;
}

#search-input {
  border-radius:4px;
  border:none;
  background-color:#3588B9;
  color:white;
  padding: 8px 10px;
  position: relative;
  left:0.25%;
}

#nav-txt:hover {
  background-color: #50a8d8
}

::placeholder{
  color:white;
}

#main-logo {
  color: #5bb0d8;
  font-family: 'Yellowtail', cursive;
  text-decoration: none;
  position: relative;
  left:25%;
}

#main-logo:hover{
  color:#d2f2f7;
}

#right-menu {
  position: relative;
  left:60%;
}

#index-options {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding: 0% 0.5%;
}

.index {
  display: inline-block;
  padding: 0.4%;
}

.index-right {
  display: inline-block;
  padding: 0.4%;
  left: 70%;
  position: relative;
}

.index:hover {
  background-color: #026AA7;
}

.index-right:hover{
  background-color: #026AA7;
}

.column {
  display: block;
  float: left;
  margin: 1em;
  padding: 0 4px;
}

#add-list {
  background-color:#3588B9;
  border-radius:4px;
  border:none;
  color:white;
  opacity: 0.8;
  padding: 8px 10px;
}

.form {
  background-color: #3588B9;
  padding: 10px 10px;
  border-radius: 4px;
}

#add-list-form {
  display: none;
}

#task {
  display: none;
}

#new-task{
  display: none;
}
